<div *ngIf="!user">Please, log in to change party</div>
<form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addParty()">
  <label>Name</label>
  <input type="text" formControlName="name">

  <label>Description</label>
  <input type="text" formControlName="description">

  <label>Location</label>
  <input type="text" formControlName="location">

  <label>Public</label>
  <input type="checkbox" formControlName="public">

  <button type="submit">Add</button>
</form>
